
<!--<table class="table table-hover">-->
<table class="table">

  <thead class="table-dark">
  <tr>
    <td>STT</td>
    <th>Name</th>
    <th>Category</th>
    <th>SKU</th>
    <th>Description</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Active?</th>
    <th>Unit Price</th>
    <th>Units In Stock</th>

  </tr>
  </thead>

  <tbody>
<!--  [ngClass]="{'high-light': tempSalesPerson.salesVolume > 60000,'high-red': tempSalesPerson.salesVolume <= 40000}"-->
  <tr *ngFor="let product of productList; let i = index" >
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product?.category?.categoryName}}</td>
    <td>{{product.sku}}</td>
    <td>{{product.description}}</td>
    <td>{{product.dateCreated | date : 'dd-mm-yyyy HH:mm:ss'}}</td>
    <td>{{product.lastUpdated | date : 'dd-mm-yyyy HH:mm:ss'}}</td>
    <td>{{product.active ? 'Active' : 'Not Active'}}</td>
    <td>{{product.unitPrice | currency : 'USD'}}</td>
    <td>{{product.unitsInStock}}</td>
  </tr>
  </tbody>

</table>
