
<button class="btn btn-primary">Open popup</button>


<div style="width: 70%">
  <div class="row pop-up">
    <div class="col-md-11">
      <p class="title" style="margin: 0">CẢNH BÁO GIẢ MẠO LỪA ĐẢO</p>
    </div>

    <div class="col-md-1 d-flex" style="cursor: pointer; text-align-last: right">
      <svg (click)="closeNotiPopup()" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-x" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
      </svg>
    </div>
  </div>

  <div class="row pop-up-content">
    <p>
      Thời gian vừa qua, có hiện tượng một số tổ chức/cá nhân mời chào các dịch vụ hỗ trợ nhanh (có trả phí) liên quan đến đấu thầu qua mạng như đăng ký/chuyển đổi tài khoản từ Hệ thống mạng đấu thầu quốc gia (Hệ thống) cũ sang Hệ thống mới.



      Trung tâm đấu thầu qua mạng quốc gia xin thông báo: Bộ Kế hoạch và Đầu tư, Cục Quản lý đấu thầu, Trung tâm Đấu thầu qua mạng quốc gia không cung cấp và không liên quan đến các tổ chức/cá nhân mời chào các dịch vụ hỗ trợ đấu thầu qua mạng nêu trên.



      Hiện nay, việc phê duyệt đăng ký, chuyển đổi tài khoản, chỉnh sửa thông tin và hỗ trợ xử lý vướng mắc của người dùng trên Hệ thống mạng đấu thầu quốc gia được Trung tâm đấu thầu qua mạng quốc gia thực hiện hoàn toàn miễn phí và tuân thủ đúng quy định của pháp luật.



      Đối với việc đăng ký và chuyển đổi tài khoản sang Hệ thống mới, tất cả các hồ sơ đính kèm trên Hệ thống và đề nghị cập nhật thông tin tài khoản qua email (theo văn bản 4229/BKHĐT-QLĐT ngày 27/6/2022 của Bộ Kế hoạch và Đầu tư) gửi đến địa chỉ hotro@muasamcong.gov.vn trước thời điểm 16h00 sẽ được xử lý trong ngày hôm đó, email được gửi sau thời điểm 16h00 sẽ được xử lý xong trong ngày làm việc tiếp theo. Đối với những hồ sơ đăng ký, email gửi trong ngày Thứ Bảy, Chủ Nhật sẽ được xử lý trong ngày Thứ Hai gần nhất.



      Trung tâm mạng đấu thầu quốc gia trân trọng thông báo để các chủ đầu tư, bên mời thầu, nhà thầu, nhà đầu tư tránh mất chi phí không chính đáng đồng thời đề nghị các đơn vị không cung cấp thông tin tài khoản cho một bên thứ ba (chưa xác định danh tính) để tránh rủi ro lộ lọt thông tin, mạo danh sử dụng tài khoản trên Hệ thống. Trường hợp hồ sơ không được xử lý đúng thời hạn như trên hoặc có thông tin về việc mời chào dịch vụ, đề nghị quý đơn vị phản ánh về số điện thoại 02432444594, e-mail ducnghia@mpi.gov.vn.



      Trân trọng thông báo./.
    </p>
  </div>

</div>
