
<div class="row">
  <div class="col-sm-12 d-flex flex-row-reverse align-items-center bd-highlight pr-0">
    <div class="p-1">
      <button class="btn"
              style="background: rgb(245, 245, 245); border: 1px solid rgb(232, 232, 232); color: rgb(89, 89, 89);">Tìm
        kiếm
      </button>
    </div>
    <div class="p-1">
      <input type="text" placeholder="Tìm kiếm nội dung" class="form-control">
    </div>

  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="goods">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="good-title">THÔNG BÁO SỰ CỐ HỆ THỐNG NGÀY 06/10</h4>
        </div>
        <div class="col-sm-12">
          <p class="good-viewer">
            <span>19/09/2022</span>
            <span class="ml-5">
              <i class="fa-regular fa-eye">19999</i>
            </span>
          </p>
        </div>

        <div class="col-sm-12">
          <p class="goods-content">Thời gian vừa qua, trên các công cụ tìm kiếm trực tuyến nở rộ các</p>
        </div>

        <div class="col-sm-12">
          <p class="goods-files">Thongbao.pdf</p>

        </div>

        <div class="col-sm-6">
          <button class="btn btn-primary">Xem chi tiết</button>
        </div>
        <div class="col-sm-6 text-right">
          <span class="dot" style="text-align: right; position: relative;">
            <span style="position: absolute; cursor: pointer; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <i class="fa fa-download" style="color: rgb(0, 122, 164);"></i>
            </span>
<!--            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></span>-->
          </span>
        </div>

      </div>
    </div>

  </div>


  <div class="col-md-4">
    <div class="goods">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="good-title">THÔNG BÁO SỰ CỐ HỆ THỐNG NGÀY 06/10</h4>
        </div>
        <div class="col-sm-12">
          <p class="good-viewer">
            <span>19/09/2022</span>
            <span class="ml-5">
              <i class="fa-regular fa-eye">19999</i>
            </span>
          </p>
        </div>

        <div class="col-sm-12">
          <p class="goods-content">Thời gian vừa qua, trên các công cụ tìm kiếm trực tuyến nở rộ các</p>
        </div>

        <div class="col-sm-12">
          <p class="goods-files">Thongbao.pdf</p>

        </div>

        <div class="col-sm-6">
          <button class="btn btn-primary">Xem chi tiết</button>
        </div>
        <div class="col-sm-6 text-right">
          <span class="dot" style="text-align: right; position: relative;">
            <span style="position: absolute; cursor: pointer; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <i class="fa fa-download" style="color: rgb(0, 122, 164);"></i>
            </span>
            <!--            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></span>-->
          </span>
        </div>

      </div>
    </div>

  </div>



  <div class="col-md-4">
    <div class="goods">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="good-title">THÔNG BÁO SỰ CỐ HỆ THỐNG NGÀY 06/10</h4>
        </div>
        <div class="col-sm-12">
          <p class="good-viewer">
            <span>19/09/2022</span>
            <span class="ml-5">
              <i class="fa-regular fa-eye">19999</i>
            </span>
          </p>
        </div>

        <div class="col-sm-12">
          <p class="goods-content">Thời gian vừa qua, trên các công cụ tìm kiếm trực tuyến nở rộ các</p>
        </div>

        <div class="col-sm-12">
          <p class="goods-files">Thongbao.pdf</p>

        </div>

        <div class="col-sm-6">
          <button class="btn btn-primary">Xem chi tiết</button>
        </div>
        <div class="col-sm-6 text-right">
          <span class="dot" style="text-align: right; position: relative;">
            <span style="position: absolute; cursor: pointer; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <i class="fa fa-download" style="color: rgb(0, 122, 164);"></i>
            </span>
            <!--            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></span>-->
          </span>
        </div>

      </div>
    </div>

  </div>



  <div class="col-md-4 mt-3">
    <div class="goods">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="good-title">THÔNG BÁO SỰ CỐ HỆ THỐNG NGÀY 06/10</h4>
        </div>
        <div class="col-sm-12">
          <p class="good-viewer">
            <span>19/09/2022</span>
            <span class="ml-5">
              <i class="fa-regular fa-eye">19999</i>
            </span>
          </p>
        </div>

        <div class="col-sm-12">
          <p class="goods-content">Thời gian vừa qua, trên các công cụ tìm kiếm trực tuyến nở rộ các</p>
        </div>

        <div class="col-sm-12">
          <p class="goods-files">Thongbao.pdf</p>

        </div>

        <div class="col-sm-6">
          <button class="btn btn-primary">Xem chi tiết</button>
        </div>
        <div class="col-sm-6 text-right">
          <span class="dot" style="text-align: right; position: relative;">
            <span style="position: absolute; cursor: pointer; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <i class="fa fa-download" style="color: rgb(0, 122, 164);"></i>
            </span>
            <!--            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></span>-->
          </span>
        </div>

      </div>
    </div>

  </div>



  <div class="col-md-4 mt-3">
    <div class="goods">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="good-title">THÔNG BÁO SỰ CỐ HỆ THỐNG NGÀY 06/10</h4>
        </div>
        <div class="col-sm-12">
          <p class="good-viewer">
            <span>19/09/2022</span>
            <span class="ml-5">
              <i class="fa-regular fa-eye">19999</i>
            </span>
          </p>
        </div>

        <div class="col-sm-12">
          <p class="goods-content">Thời gian vừa qua, trên các công cụ tìm kiếm trực tuyến nở rộ các</p>
        </div>

        <div class="col-sm-12">
          <p class="goods-files">Thongbao.pdf</p>

        </div>

        <div class="col-sm-6">
          <button class="btn btn-primary">Xem chi tiết</button>
        </div>
        <div class="col-sm-6 text-right">
          <span class="dot" style="text-align: right; position: relative;">
            <span style="position: absolute; cursor: pointer; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <i class="fa fa-download" style="color: rgb(0, 122, 164);"></i>
            </span>
            <!--            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></span>-->
          </span>
        </div>

      </div>
    </div>

  </div>



  <div class="col-md-4 mt-3">
    <div class="goods">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="good-title">THÔNG BÁO SỰ CỐ HỆ THỐNG NGÀY 06/10</h4>
        </div>
        <div class="col-sm-12">
          <p class="good-viewer">
            <span>19/09/2022</span>
            <span class="ml-5">
              <i class="fa-regular fa-eye">19999</i>
            </span>
          </p>
        </div>

        <div class="col-sm-12">
          <p class="goods-content">Thời gian vừa qua, trên các công cụ tìm kiếm trực tuyến nở rộ các</p>
        </div>

        <div class="col-sm-12">
          <p class="goods-files">Thongbao.pdf</p>

        </div>

        <div class="col-sm-6">
          <button class="btn btn-primary">Xem chi tiết</button>
        </div>
        <div class="col-sm-6 text-right">
          <span class="dot" style="text-align: right; position: relative;">
            <span style="position: absolute; cursor: pointer; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <i class="fa fa-download" style="color: rgb(0, 122, 164);"></i>
            </span>
            <!--            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></span>-->
          </span>
        </div>

      </div>
    </div>

  </div>


</div>
